@import url(http://fonts.googleapis.com/css?family=Comfortaa);
a
{	
	position:relative;
	text-decoration:none;
}

#headnoco
{
	position:relative;
	background-color:#7B7F7E;
	width:100%;
	height:50px;
}

#headnoco a
{
	position:relative;
	color:#D1E8D7;
	margin-left:50px;
}

#links
{
	position:relative;
	margin-left:1000px;
	margin-top:-35px;
}

#image
{
	position:relative;
	height:100%;
	width:200px;
}

#image a
{
	position:relative;
	height:100%;
	width:100%;
}

#image img
{
	position:relative;
	height:100%;
	width:100%;
}

body
{
	font-family: Comfortaa;
	margin: 0;
	padding:0;
}
header
{
	position: fixed;
	top: 10px;
}
#login
{
	position: relative;
	left: 4200%;
	background-color: #2fb8f2;
	width: 200%;
	height: 30px;
	text-align: center;
	border-radius: 30px;
}
#news_mail
{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 50px;
	background-color: #DFDFDF;
}
#body
{
	width: 100%;
}