@import url(http://fonts.googleapis.com/css?family=Comfortaa);

body
{
	font-family: Comfortaa;
	margin: 0;
	padding:0;
	background-color: #cccccc;
}

header
{
}

a
{	
	position:relative;
	text-decoration:none;
	color: black;
}

#headnoco
{
	position:relative;
	background-color:#7B7F7E;
	width:100%;
	height:10%;
	 box-shadow: -1px 5px 6px #666666;
}

#headnoco a
{
	position:relative;
	color:#D1E8D7;
	margin-left:50px;
}

#links
{
	position:relative;
	margin-left:75%;
	margin-top:-43px;
}

#image
{
	position:relative;
	height:100%;
	width:200px;
}

#image a
{
	position:relative;
	height:100%;
	width:100%;
}

#image img
{
	position:relative;
	height:100%;
	width:100%;
}

#login
{
	position: relative;
	left: 4200%;
	background-color: #2fb8f2;
	width: 200%;
	height: 30px;
	text-align: center;
	border-radius: 30px;
}
#news_mail
{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 50px;
	background-color: #DFDFDF;
}
#body
{
	width: 100%;
}

.container
{
	position: absolute;
	top: 300px;
	left: 300px;
	width: 900px;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	border: solid black 3px;
	 box-shadow: 10px 10px 5px #888888;
	 text-align: center;
	 text-transform: capitalize;
	 background-color: #FFFFFF;
}



.PageName
{
	position: absolute;
	top: 180px;
	left: 300px;
	width: 900px;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	border: solid black 3px;
	 box-shadow: 10px 10px 5px #888888;
	 text-align: center;
	 text-transform: capitalize;
	 color:#D1E8D7;
	 background-color:#7B7F7E;
}

.LeftMenu
{
	position: fixed;
	left: 10px;
	width: 200px;
	height: 300px;
	border-radius: 10px 10px 10px 10px;
	border: solid black 3px;
	 box-shadow: 5px 5px 5px #888888;
	 text-transform: capitalize;
	background-color: #FFFFFF;


}

.LeftMenuB
{
	position: absolute;
	left: 10px;
	width: 200px;
	height: 300px;
	border-radius: 10px 10px 10px 10px;
	border: solid black 3px;
	 box-shadow: 5px 5px 5px #888888;
	text-align: center;
	text-transform: capitalize;
	background-color: #FFFFFF;

}

.citydiv
{
	border-radius: 10px 10px 10px 10px;
	border: solid black 3px;
	 box-shadow: 5px 5px 5px #888888;
	 width: 400px;
	 position: relative;
	 display: inline-block;
	 text-transform: capitalize;
	 background-color: #EEEEEE;
	 padding-left: 5px;

}

.MenuButton
{
	border: solid black 3px;
	 box-shadow: 5px 5px 5px #888888;
	 width: 170px;
	 height: 30px;
	 position: relative;
	 display: inline-block;
	 font-size: 18;
	 text-transform: capitalize;
	 background-color: #EEEEEE;

}